@model Server.DTOs.Accounts.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            title: 'Success!',
            text: '@TempData["Success"]',
            icon: 'success'
        });
    </script>
}

@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            title: 'Error!',
            text: '@TempData["Error"]',
            icon: 'error'
        });
    </script>
}

<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="index.html" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="~/uploads/web-icon/metrodata.webp" style="width: 50px"/>
        </span>
        <span class="app-brand-text demo text-body fw-bolder">Login</span>
    </a>
</div>

<hr />
<div class="row">
    <div class="col">
        <form action="/account/Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter your email"
                       autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                    <a href="/Account/ForgotPassword" class="text-decoration-none">
                        <small>Forgot Password?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge">
                    <input type="password"
                           id="password"
                           class="form-control"
                           name="password"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit" value="Login">Login</button>
            </div>
            <p class="text-center">
                <span>Don't have an account yet? Click</span>
                <a href="/Account/Register">
                    <span>Register</span>
                </a>
            </p>
        </form>
    </div>
</div>

