@model Server.DTOs.Accounts.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<hr />
<div class="row">
    <div class="col">
        <form id="formAuthentication" action="Account/Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter your email"
                       autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                    <label class="form-label" asp-for="Password">Password</label>
                    <a href="auth-forgot-password-basic.html">
                        <small>Forgot Password?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge">
                    <input type="password"
                           id="password"
                           class="form-control"
                           name="password"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit" value="Login">Login</button>
            </div>
            <p class="text-center">
                <span>Don't have an account yet? Click</span>
                <a href="auth-register-basic.html">
                    <span>Register</span>
                </a>
            </p>
        </form>
    </div>
</div>



