@using System.Net.Http
@model Server.DTOs.Accounts.RegisterDto


@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutRegister";
}

@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            title: 'Error!',
            text: '@TempData["Error"]',
            icon: 'error'
        });
    </script>
}

<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="index.html" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="~/uploads/web-icon/metrodata.webp" style="width: 50px"/>
        </span>
        <span class="app-brand-text demo text-body fw-bolder text-capitalize">Form Register</span>
    </a>
</div>


<hr />
<form action="/Account/Register" method="post">
    <div class="row">
        <div class="col-12 col-lg-6">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Birth Date</label>
                <input asp-for="BirthDate" class="form-control" type="date" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>

                <select class="form-control" asp-for="Gender" aria-label="Floating label select example">
                    <option selected>Open this select menu</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HiringDate" class="control-label">Hiring Date</label>
                <input asp-for="HiringDate" class="form-control" type="date"/>
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text">ID (+62)</span>
                    <input asp-for="PhoneNumber"
                           type="text"
                           id="phoneNumber"
                           name="phoneNumber"
                           class="form-control"
                           placeholder="202 555 0111" />
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label">Department</label>
                <select asp-for="DepartmentCode" class="selectDepartment form-control">
                </select>

                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>

            <div class="form-group form-password-toggle">
                <label asp-for="Password" class="control-label">Password</label>
                <div class="input-group">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span class="input-group-text cursor-pointer">
                        <i class="bx bx-hide"></i>
                    </span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group form-password-toggle">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span class="input-group-text cursor-pointer">
                        <i class="bx bx-hide"></i>
                    </span>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="mb-3">
        <button type="submit" value="Create" class="btn btn-primary">Create Account</button>
    </div>
</form>
   



   


<div>
    <a href="Login">Back to Login</a>
</div>

@section Scripts{
    <script>
    const Token = '@Context.Session.GetString("JWToken")'
        $.ajax({
            url: "https://localhost:7293/api/departments",
            headers:
            {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            let getDepartment = ""
            $.each(result.data, (key, val) => {
                console.log(result)
                getDepartment += ` <option value="${val.code}">${val.name} (${val.code})</option>`
            })
            $('.selectDepartment').html(getDepartment)
        }).fail(function () {
            $(".selectDepartment").text("Failed to fetch data");
        });

        document.addEventListener("DOMContentLoaded", function () {
            const passwordToggles = document.querySelectorAll(".password-toggle");

            if (passwordToggles) {
                passwordToggles.forEach(toggle => {
                    toggle.addEventListener("click", function () {
                        const input = toggle.closest(".input-group").querySelector("input[type='password']");
                        if (input.type === "password") {
                            input.type = "text";
                            toggle.innerHTML = '<i class="bx bx-show"></i>';
                        } else {
                            input.type = "password";
                            toggle.innerHTML = '<i class="bx bx-hide"></i>';
                        }
                    });
                });
            }
        });
    </script>
    }


