@model Server.DTOs.Employees.RegisterLeaveDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegisterLeaveDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/LeaveRequest/Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                <select class="form-control" asp-for="LeaveType" aria-label="Floating label select example">
                    <option selected>Open this select menu</option>
                    <option value="0">Vacation</option>
                    <option value="1">Sick</option>
                    <option value="2">Personal</option>
                    <option value="3">Other</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveStart" class="control-label"></label>
                <input asp-for="LeaveStart" class="form-control" />
                <span asp-validation-for="LeaveStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveEnd" class="control-label"></label>
                <input asp-for="LeaveEnd" class="form-control" />
                <span asp-validation-for="LeaveEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="form-label"></label>
                <input asp-for="Attachment" class="form-control" type="file" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
