@model Server.DTOs.Employees.RegisterLeaveDto

@{
    ViewData["Title"] = "Create";
}

<!-- Include Bootstrap Date Range Picker CSS and JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card mx-auto mb-3 border-0">
            <div class="card-body">
                <div>
                    <h1 class="card-header bg-info text-white text-center">Form Leave Request</h1>
                    <br />
                    <form action="/LeaveRequest/Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="LeaveType" class="control-label">Leave Type</label>
                            <select class="form-control" asp-for="LeaveType" aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="0">Vacation</option>
                                <option value="1">Sick</option>
                                <option value="2">Personal</option>
                                <option value="3">Other</option>
                            </select>
                            <span asp-validation-for="LeaveType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LeaveStart" class="control-label">Leave Start</label>
                            @*<input asp-for="LeaveStart" class="form-control" type="date"/>*@
                            <input asp-for="LeaveStart" class="form-control" type="text" name="leaveStart" value="" />
                            <span asp-validation-for="LeaveStart" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LeaveEnd" class="control-label">Leave End</label>
                            @*<input asp-for="LeaveEnd" class="form-control" type="date" />*@
                            <input asp-for="LeaveEnd" class="form-control" type="text" name="leaveEnd" value="" />
                            <span asp-validation-for="LeaveEnd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Notes" class="control-label">Notes</label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Attachment" class="form-label">Attachment</label>
                            <input asp-for="Attachment" class="form-control" type="file" />
                            <span asp-validation-for="Attachment" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <br />
                <div>
                    <a asp-action="Account">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

    <input type="text" name="leaveStart" value="" />
    <input type="text" name="leaveEnd" value="" />
</div>



@section Scripts {
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        $(function () {
            $('input[name="leaveStart"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minDate: moment().startOf('day'), // Disable past dates
                startDate: moment().add(1, 'days'), // Default start date (tomorrow)
                endDate: moment().add(1, 'days'),   // Default end date (tomorrow)
            }, function (start, end, label) {
            });
        });

        $(function () {
            $('input[name="leaveEnd"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minDate: moment().startOf('day'), // Disable past dates
                startDate: moment().add(1, 'days'), // Default start date (tomorrow)
                endDate: moment().add(1, 'days'),   // Default end date (tomorrow)
            }, function (start, end, label) {
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
