@model Server.DTOs.LeaveRequests.LeaveRequestDto

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card mx-auto mb-3 border-0">
            <div class="card-body">
                <div>
                    <h1 class="card-header bg-info text-white text-center">Response Leave Request</h1>
                    <br />
                    <form action="/LeaveRequest/Response" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Guid" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="EmployeeGuid" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="LeaveType" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="LeaveStart" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="LeaveEnd" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="Notes" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <input asp-for="AttachmentUrl" class="form-control" hidden/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select class="form-control" asp-for="Status" aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="0" hidden>Draft</option>
                                <option value="1" hidden>OnProcess</option>
                                <option value="2">Success</option>
                                <option value="3">Rejected</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FeedbackNotes" class="control-label">FeedbackNotes</label>
                            <textarea asp-for="FeedbackNotes" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="FeedbackNotes" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>



@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

