@model Server.DTOs.Employees.EmployeeWithNameDto

@{
    ViewData["Title"] = "Index";
  
}

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-account-settings-notifications.html"
              ><i class="bx bx-bell me-1"></i> Notifications</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-account-settings-connections.html"
              ><i class="bx bx-link-alt me-1"></i> Connections</a
            >
          </li>
        </ul>
        <div class="card mb-4">
          <h5 class="card-header">Profile Details</h5>
          <!-- Account -->
          
          <div class="card-body">
            <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img
                  src=""
                  alt="user-avatar"
                  class="d-block rounded"
                  height="100"
                  width="100"
                  id="uploadedAvatar"
                  hidden
                />
                <div class="button-wrapper">
                  <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="bx bx-upload d-block d-sm-none"></i>
                    <input
                      type="file"
                      id="upload"
                      class="account-file-input"
                      hidden
                      accept="image/png, image/jpeg"
                      asp-for="ProfileImage"
                    />
                  </label>
                  
                  <button type="submit" class="btn btn-outline-secondary mb-4">
                    <i class="bx bx-reset d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Submit</span>
                  </button>
                                            
                  <button class="btn btn-outline-secondary account-image-reset mb-4">
                    <i class="bx bx-reset d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Reset</span>
                  </button>
                              
                  <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                </div>
              </div>
              
              <br/>
              
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    id="firstName"
                    name="firstName"
                    asp-for="FullName"
                    autofocus
                    disabled
                  />
                </div>
                
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    asp-for="Email"
                    disabled
                  />
                </div>
                
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">Phone Number</label>
                  <input
                    class="form-control"
                    type="text"
                    name="phoneNumber"
                    asp-for="PhoneNumber"
                  />
                </div>
                
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">NIK</label>
                  <input
                    class="form-control"
                    type="text"
                    name="nik"
                    asp-for="Nik"
                    disabled
                  />
                </div>

                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">Birth Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="nik"
                    asp-for="BirthDate"
                    disabled
                  />
                </div>

                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">Deartment</label>
                  <input
                    class="form-control"
                    type="text"
                    name="nik"
                    asp-for="DepartmentName"
                    disabled
                  />
                </div>

                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">Hiring Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="nik"
                    asp-for="HiringDate"
                    disabled
                  />
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a
          href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >

        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

@section Scripts
{
  <script>
    $(document).ready(function () {
        const Token = '@Context.Session.GetString("JWToken")';
        $.ajax({
            url: "https://localhost:7293/api/accounts/",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.data.length > 0) {
                const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                console.log(accounts)
                if (accounts && accounts.profilPictureUrl) {
                    $('#profilePicture').attr('src', accounts.profilPictureUrl);
                    $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    $('#uploadedAvatar').attr('src', accounts.profilPictureUrl);
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            } else {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            }
        }).fail(function () {
            $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
            $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
        });
    });
    </script>
}
