@using Server.Utilities.Enums
@model IEnumerable<Server.DTOs.LeaveRequests.LeaveRequestDetailDto>

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Account</h1>
<div id="accordionExample" class="accordion mt-3 accordion-without-arrow">
    @foreach (var item in Model)
    {
        var accordionId = $"accordion_{item.RequestNumber.Replace(" ", "_")}";
        <div class="card accordion-item">
            <h2 class="accordion-header" id="heading_@accordionId">
                <button
                    type="button"
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#@accordionId"
                    aria-controls="@accordionId">
                    <span class="col-9">@Html.DisplayFor(modelItem => item.RequestNumber)</span>
                    <div class="col-1">
                        @if (item.Status == Status.Draft)
                        {
                            <span class="badge bg-secondary">Draft</span>
                        }
                        else if (item.Status == Status.OnProcess)
                        {
                            <span class="badge bg-primary">OnProcess</span>
                        }
                        else if (item.Status == Status.Success)
                        {
                            <span class="badge bg-success">Success</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Rejected</span>
                        }
                    </div>
                </button>
            </h2>
            <div
                id="@accordionId"
                class="accordion-collapse collapse"
                aria-labelledby="heading_@accordionId"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                    dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
                    Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                </div>
            </div>
        </div>
    }
</div>

