@model Server.DTOs.Employees.EmployeeDto

@{
    ViewData["Title"] = "Create";
   
}

<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h1>Create New Employee</h1>
                <hr />
            </div>
            <div class="card-body">
                <form action="/Employee/Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <label asp-for="FirstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input asp-for="FirstName" class="form-control" placeholder="Input your first name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        
                    </div>
                    <div class="row mb-3">
                        <label asp-for="LastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input asp-for="LastName" class="form-control" placeholder="Input your first name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label">Birth Date</label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select class="form-control" asp-for="Gender" aria-label="Floating label select example">
                            <option selected>Open this select menu</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HiringDate" class="control-label">Hiring Date</label>
                        <input asp-for="HiringDate" class="form-control" />
                        <span asp-validation-for="HiringDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentGuid" class="control-label">Department Guid</label>
                        <input asp-for="DepartmentGuid" class="form-control" />
                        <span asp-validation-for="DepartmentGuid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManagerGuid" class="control-label">Manager Guid</label>
                        <input asp-for="ManagerGuid" class="form-control" />
                        <span asp-validation-for="ManagerGuid" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                <br />
                <a href="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(document).ready(function () {
        const Token = '@Context.Session.GetString("JWToken")';
        $.ajax({
            url: "https://localhost:7293/api/accounts/",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.data.length > 0) {
                const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                console.log(accounts)
                if (accounts && accounts.profilPictureUrl) {
                    $('#profilePicture').attr('src', accounts.profilPictureUrl);
                    $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                } else {
                    $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
                }
            } else {
                $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
            }
        }).fail(function () {
            $('#profilePicture').attr('src', '/assets/img/avatars/1.png');
            $('#profilePictureDropDown').attr('src', '/assets/img/avatars/1.png');
        });
    });
    </script>
}



