@model Server.DTOs.Employees.EmployeeDto

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card mx-auto mb-3 border-0">
            <div class="card-body">
                <div>
                    <h1 class="card-header bg-primary text-white text-center">Edit Employee</h1>
                    <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form action="/Employee/Update" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input asp-for="Guid" class="form-control" hidden />
                                    <span asp-validation-for="Guid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nik" class="control-label"></label>
                                    <input asp-for="Nik" class="form-control" readonly />
                                    <span asp-validation-for="Nik" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label">First Name</label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label">Last Name</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BirthDate" class="control-label">Birth Date</label>
                                    <input asp-for="BirthDate" class="form-control" type="date" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <input asp-for="Gender" class="form-control" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                
                                <div class="form-group">
                                    <label asp-for="HiringDate" class="control-label">Hiring Date</label>
                                    <input asp-for="HiringDate" class="form-control" type="date" />
                                    <span asp-validation-for="HiringDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DepartmentGuid" class="control-label">Department</label>
                                    <input asp-for="DepartmentGuid" class="form-control" id="depGuid" hidden />
                                    @*<input id="depName" class="form-control" disabled />*@
                                    <select class="form-control" id="depName">
                                    </select>
                                    <span asp-validation-for="DepartmentGuid" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ManagerGuid" class="control-label">Manager</label>
                                    <input asp-for="ManagerGuid" id="managerGuid" class="form-control" />
                                    @*<select class="form-control" id="manager">
                                    </select>*@
                                    <span asp-validation-for="ManagerGuid" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        </form>
                        
                        
                    
                </div>
                <br />
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>




@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")';
        //department
        $.ajax({
            url: "https://localhost:7293/api/departments/",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.data.length > 0) {
                let depOptions = '';
                result.data.forEach(dep => {
                    depOptions += `<option value="${dep.guid}">${dep.name} (${dep.code})</option>`;
                });
                $('#depName').html(depOptions);
                const selectedDepartmentGuid = '@Model.DepartmentGuid';
                $('#depName').val(selectedDepartmentGuid);
            } else {
                $('#depName').html("<option value=''>No department data</option>");
            }
        }).fail(function () {
            $('#depName').html("<option value=''>Failed to fetch data</option>");
        });

        //account role = manager
        $.ajax({
            url: "https://localhost:7293/api/account-role/",
            headers: {
                "Authorization": "Bearer " + Token
            }
        }).done(function (result) {
            if (result.length > 0) {
                let managerOptions = '';

                result.forEach(accountRole => {
                    if (accountRole.roleGuid == "a7e15d29-9c74-4e72-ae63-5a47d69b27d6") {
                        managerOptions += `<option value="${accountRole.accountGuid}">${accountRole.guid}</option>`;
                    }
                });

                $('#manager').html(managerOptions);

                // Set selected option based on @Model.ManagerGuid
                const selectedManagerGuid = '@Model.ManagerGuid';
                $('#managerGuid').val(selectedManagerGuid);
            } else {
                $('#manager').html("<option value=''>No manager data</option>");
            }
        }).fail(function () {
            $('#manager').html("<option value=''>Failed to fetch data</option>");
        });
      
    </script>
}