@model Server.Models.Department

@{
    ViewData["Title"] = "Create";
    
}


<div class="row">
    <div class="col-7">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h1>Create New Department</h1>
                <hr />
            </div>
            <div class="card-body">
                <form action="/Department/Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
                <br />
                <a href="Index">Back to List</a>
            </div>  
        </div>
    </div>
</div>




