
@{
    ViewData["Title"] = "Forbidden";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Not Found</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .forbidden{
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .forbidden-403 {
            background-color: red;
            color: #fff;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

            .forbidden-403 h1 {
                font-size: 72px;
                margin: 0;
            }

        h2 {
            font-size: 32px;
            margin: 10px 0;
        }

        p {
            font-size: 18px;
            color: #777;
            margin: 10px 0;
        }

        #countdown {
            font-size: 24px;
            color: #333;
            text-decoration: none;
            transition: color 0.3s;
        }

            #countdown:hover {
                color: #ff4d4d;
            }
    </style>
</head>

<body>

    <div class="forbidden">
        <div class="forbidden-403">
            <h1>403</h1>
        </div>
        <h2>FORBIDDEN!!!!</h2>
        <p>It seems you're lost!</p>
        <a id="countdown" href="/Account/Login">Back to Login</a>
    </div>

</body>

<script>
    let timer = 5
    setInterval(() => {
        document.getElementById('countdown').innerHTML = timer;
        timer--;

        if (timer === 0) {
            location.href = "/";
        }
    }, 1000)
</script>
</html>

