@using System.Net.Http
@{

}

<div class="row">
    @if (User.IsInRole("employee"))
    {
        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <a asp-area="" asp-controller = "LeaveRequest" asp-action = "Account" >
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="icon">
                            <i class="fas fa-solid fa-calendar-days fa-bounce fa-3x" style="color: #f3f708;"></i>
                        </div>

                    </div>
                    <span class="fw-semibold d-block mb-1">Leave Remain</span>
                    <h3 class="card-title mb-2" id="eligible-leave">
                        <span id="eligible-leave-value"></span>
                        <span> days</span>
                    </h3>
                </div>
            </div>
            </a>
        </div>
        
    }

    <div class="col-lg-3 col-md-12 col-6 mb-4">
        <a asp-area="" asp-controller = "Employee" asp-action = "Index" >
        <div class="card bg-info">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="icon">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                </div>
                 <span class="fw-semibold d-block mb-1 text-white">Total Employee</span>
                <h3 class="card-title mb-2 text-white" id="total-employees"></h3>
            </div>
        </div>
        </a>
    </div>
    

    <div class="col-lg-3 col-md-12 col-6 mb-4">
        <a asp-action="Index" asp-controller="Department">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="icon">
                        <i class="fas fa-light fa-building fa-beat fa-3x" style="color: #1f5147;"></i>
                    </div>
                </div>
                    <span class="fw-semibold d-block mb-1">Total Department</span>
                    <h3 class="card-title mb-2" id="total-departments"></h3>
            </div>
        </div>
        </a>
    </div>

    @if (User.IsInRole("manager") || User.IsInRole("admin"))
    {
        <div class="col-lg-3 col-md-12 col-6 mb-4">
            <a asp-action="Index" asp-controller="LeaveRequest">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="icon">
                                <i class="fas fa-solid fa-list-check fa-fade fa-3x" style="color: #ff0000;"></i>
                            </div>
                        </div>
                        <span class="fw-semibold d-block mb-1">Total Request</span>
                        <h3 class="card-title mb-2" id="total-request"></h3>
                    </div>
                </div>
            </a>
        </div>
    }
    
</div>
@*<div class="row">
    <div class="container">
        <iframe src="https://calendar.google.com/calendar/embed?src=id.indonesian%23holiday%40group.v.calendar.google.com&ctz=Asia%2FJakarta" style="border: 1" width="600" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>*@
<div class="row">
    <div class="col-md-6">
        <!--chart-->
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Gender</h3>
            </div>
            <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
    </div>

    <div class="col-md-6">
    <!-- Kalender Kustom dengan FullCalendar -->
        <div class="card">
            <div class="card-body">
                
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        const Token = '@Context.Session.GetString("JWToken")'

        //Employees counts
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7293/api/employees",
                headers:
                {
                    "Authorization" : "Bearer "+ Token
                }
            }).done(function (result) {
                // Assuming the API response contains a property named "totalEmployees"
                var totalEmployees = result.data.length;
                $("#total-employees").text(totalEmployees);
            }).fail(function (error) {
                $("#total-employees").text("Failed to fetch data");
                console.log(error)
            });
        });

        //Leave Request counts
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7293/api/leave-request",
                headers:
                {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                var totalRequest = result.data.length;
                $("#total-request").text(totalRequest);
            }).fail(function (error) {
                $("#total-request").text("Failed to fetch data");
                console.log(error)
            });
        });

        //Departements Counts
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7293/api/departments",
                headers:
                {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                // Assuming the API response contains a property named "totalDepartments"
                var totalDepartments = result.data.length;
                $("#total-departments").text(totalDepartments);
            }).fail(function (error) {
                $("#total-departments").text("Failed to fetch data");
                console.log(error)
            });
        });

        //eligible leave
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7293/api/leave-request/detail",
                headers:
                {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                console.log(result)
                var availableLeave = result.data.availableLeave; // Ambil nilai eligibleLeave dari respons API
                $("#eligible-leave-value").text(availableLeave); // Tampilkan nilai eligibleLeave
            }).fail(function (error) {
                $("#eligible-leave-value").text("Failed to fetch data");
                console.log(error);
            });
        });

        //Gender
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7293/api/employees",
                headers:
                {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) { // Perhatikan pemakaian fungsi anonim di sini
                let gender1 = 0;
                let gender2 = 0;

                result.data.forEach(function (dataGender) {
                    if (dataGender.gender === 0) {
                        gender1++;
                    } else if (dataGender.gender === 1) {
                        gender2++;
                    }
                });

                console.log("Total Female", gender1)
                console.log("Total Male", gender2)

                // Buat data baru untuk grafik pie berdasarkan data gender yang dihitung
                var genderPieData = {
                    labels: ['Male', 'Female'],
                    datasets: [
                        {
                            data: [gender1, gender2],
                            backgroundColor: ['blue','pink'],
                        }
                    ]
                };

                // Buat grafik pie
                new Chart('pieChart', {
                    type: 'pie',
                    data: genderPieData
                });
            });
        });

        //calendar
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    // Event-event lain di sini
                    // ...

                    // Panggil API untuk mendapatkan data hari libur
                    // Gantilah URL dengan URL API yang sesuai
                    // Contoh penggunaan fetch
                    fetch('https://api-harilibur.vercel.app/api')
                        .then(response => response.json())
                        .then(data => {
                            // Proses data dari API dan tambahkan ke events
                            data.forEach(holiday => {
                                calendar.addEvent({
                                    title: holiday.holiday_name,
                                    start: holiday.holiday_date,
                                    allDay: true,
                                    backgroundColor: 'red',
                                    borderColor: 'red'
                                });
                            });
                        })
                        .catch(error => {
                            console.error('Error fetching holidays:', error);
                        }),
                    // ...
                ]
            });
            calendar.render();
        });
        
        $(document).ready(function () {
            const Token = '@Context.Session.GetString("JWToken")';
            $.ajax({
                url: "https://localhost:7293/api/accounts/",
                headers: {
                    "Authorization": "Bearer " + Token
                }
            }).done(function (result) {
                if (result.data.length > 0) {
                    const accounts = result.data.find(e => e.guid === '@User.FindFirst("Guid")?.Value');
                    console.log(accounts)
                    if (accounts && accounts.profilPictureUrl) {
                        $('#profilePicture').attr('src', accounts.profilPictureUrl);
                        $('#profilePictureDropDown').attr('src', accounts.profilPictureUrl);
                    } else {
                        $('#profilePicture').attr('src', '~/assets/img/avatars/1.png');
                        $('#profilePictureDropDown').attr('src', '~/assets/img/avatars/1.png');
                    }
                } else {
                    $('#profilePicture').attr('src', '~/assets/img/avatars/1.png');
                    $('#profilePictureDropDown').attr('src', '~/assets/img/avatars/1.png');
                }
            }).fail(function () {
                $('#profilePicture').attr('src', '~/assets/img/avatars/1.png');
                $('#profilePictureDropDown').attr('src', '~/assets/img/avatars/1.png');
            });
        });
    </script>
}